<!doctype html>
<html lang='en'>

<head>
    <!-- Required meta tags -->
    <title>{{ league }} | Pomelo</title>
    <meta charset='utf-8'>
    <meta name='description' content='Pomelo is a self-hosted opensource tournament web-server and local script' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' media='screen' href='https://fontlibrary.org/face/raleway' type='text/css' />
    <link rel='icon' href='/static/img/favicon.png'>

    <!-- Colors and bars -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ffffff" id="browserColor">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ffffff" id="browserColorwp">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff" id="browserColorap">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name='HandheldFriendly' content='true' />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='mobile-web-app-capable' content='yes'>

    <!-- bootstrap -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <!-- <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
        integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1'
        crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
        integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
        crossorigin='anonymous'></script>

    <script src='/static/js/script.js'></script>

    <link rel='stylesheet' href='/static/css/main.css' />
</head>

<body>

    <img id='logo' src='/static/img/pomelo.png' height='90px' width='90px' alt='Logo description' />

    <span id='title'>
        <h1 id='title'>{{ league }}</h1>
        <a href='#' id="admin_button" class='adminButton'>
            <ion-icon id="admin_icon" size='large' name='add'></ion-icon>
        </a>
    </span>

    <center>
        <div id="menu" class="hidden">

            <h4>Matches</h4><br>

            <form action="{{ league }}/score" method="post">
                <div class="input-group input-padding">
                    <input class="form-control" name="player1_score" placeholder="0" required>

                    <select class="custom-select" name="player1" required>
                        <option value="" disabled selected>Player 1</option>
                        {% for player in players %}
                        <option value='{{ player }}'>{{ player }}</option>
                        {% endfor %}
                    </select>

                    <div class="input-group-append">
                        <span class="input-group-text league-icon" style="border-right:none;">
                            vs
                            <!-- <ion-icon name="md-swap" size="large"></ion-icon> -->
                        </span>
                    </div>

                    <select class="custom-select" name="player2" required>
                        <option value="" disabled selected>Player 2</option>
                        {% for player in players %}
                        <option value='{{ player }}'>{{ player }}</option>
                        {% endfor %}
                    </select>

                    <input class="form-control" name="player2_score" placeholder="0" required>

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary bg-danger text-white bigFontButton" type="submit">
                            <ion-icon size="large" name="md-checkmark"></ion-icon>
                        </button>
                    </div>
                </div>
            </form>


            <br />
            <h4>Players and teams</h4><br>

            <form action="/{{ league }}/delete_player" method="post">
                <div class="input-group input-padding">
                    <div class="input-group-prepend">
                        <span class="input-group-text">delete</span>
                    </div>
                    <select class="custom-select" name="player">
                        <option value="" disabled selected>Player to remove</option>
                        {% for player in players %}
                        <option value='{{ player }}'>{{ player }}</option>
                        {% endfor %}
                    </select>

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary bg-danger text-white bigFontButton" type="submit">
                            <ion-icon size="large" name="md-trash"></ion-icon>
                        </button>
                    </div>
                </div>
            </form>

            <form action="/{{ league }}/player" method="post">
                <div class="input-group input-padding">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">add</span>
                    </div>

                    <input class="form-control" name="player" placeholder="Name">

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary bg-danger text-white bigFontButton" type="submit">
                            <ion-icon size="large" name="md-person-add"></ion-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </center>


    <div id='content' class='container-fluid'>

        <center>
            <br>
            <div class='mr-2' role='group' aria-label='1g'>
                <div class='btn-group mr-2' id="button-select" role='group' aria-label='2g'>
                    <button id="buttonRanking" class='btn btn-outline-primary active'>
                        <ion-icon name='ios-trending-up' size='large'></ion-icon>
                    </button>
                    <button id="buttonMatches" class='btn btn-outline-danger active'>
                        <ion-icon name='ios-list' size='large'></ion-icon>
                    </button>
                </div>
            </div>
        </center>

        <div class='row'>
            <div class='col fade-table collapse-ranking' id='ranking'>
                <h4 class='titleSection'>Ranking</h4>
                <p class='centered'>
                <table class='table table-sm text-center table-bordered table-striped'>
                    <thead class=''>
                        <tr>
                            <th scope='col'>Name</th>
                            <th scope='col'>Points</th>
                            <th scope='col'>Match</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for name, points, matchcount in ranking["stable"] %}
                        <tr class='table-success success'>
                            <td> {{ name }}</td>
                            <td> {{ points }} </td>
                            <td> {{ matchcount }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table class='table table-sm text-center table-bordered table-striped'>
                    <thead>
                        <tr class='bg-danger text-white'>
                            </>
                            <th scope='row'>players out of classification</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for name, points, matchcount in ranking["unstable"] %}
                        <tr>
                            <td> {{ name }}</td>
                            <td> {{ points }} </td>
                            <td> {{ matchcount }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </p>
            </div>

            <div class='col fade-table collapse-matches' id='matches'>
                <h4 class='titleSection''>Matches</h4>
                <p class=' centered'>
                    <table class='table table-sm text-center table-bordered table-striped'>
                        <thead class=''>
                            <tr>
                                <th scope='col'>P1</th>
                                <th scope='col'>P1 Score</th>
                                <th scope='col'>P2 Score</th>
                                <th scope='col'>P2</th>
                                <th scope='col'>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p1, p1_score, p2_score, p2, date in matches %}
                            <tr>
                                <td>{{ p1 }}</td>
                                <td>{{ p1_score }}</td>
                                <td>{{ p2_score }}</td>
                                <td>{{ p2 }}</td>
                                <td>{{ date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    </p>
            </div>


        </div>

    </div>

    <!-- ion-icons -->
    <script src='https://unpkg.com/ionicons@4.5.5/dist/ionicons.js'></script>

</body>

</html>
